# Your name
#
# The name you type here will be used in your comments and activity feeds.

NAME=

# The file browser
#
# The program that will open your attachment directories
#
# Suggestions:
#   "finder" for MacOS users
#   "nautilus" for Gnome users
#   "dolphin" for KDE users
#   "ranger" for command line hackers
#   "noice" for more radical command line hackers
#   "sh" for enlightened ones

FILEBROWSER=
